<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/update.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Platypi:wght@300..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <title>INFORMATION</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/assets/anime.webp" alt="error" class="navImg" />
        <span class="galleryTitle">INFORMATION</span>
      </div>
      <div class="links">
        <a href="<%=BASE_URL%>/posts"><i class="fa-solid fa-house"></i> Home</a>
      </div>
    </nav>

    <div class="border">
      <div class="note">
        <h1 class="infoH1">Hi 👋, I'm Sonu Sharma, Creator of the Anime Gallery</h1>
        <p style="font-size: 1.25rem">
          Welcome to Anime Gallery, a site made for anime fans who love to collect images from
          various sources. <br />
          Instead of downloading anime images to your device, this site offers a solution where you
          can create your own gallery and update it anytime in the future without using storage
          space. I hope you enjoy it!
        </p>

        <div class="disclaimer">
          <strong>Disclaimer:</strong> The website and the images associated with it are not owned
          by me. These images are for reference only and have been uploaded by gallery creators. I
          do not claim ownership of any of these images.
        </div>
      </div>
    </div>

    <footer>
      <p>Copyright © 2024, Anime Gallery, Sonu Sharma</p>
    </footer>
  </body>
</html>
